<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybats.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="es.fpdual.eadmin.eadmin.mapper.DocumentoMapper">

	<insert id="insertarDocumento">
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		<include refid="maxCodigo"/>
	</selectKey>
		INSERT INTO Elemento (codigo, nombre, fechaCreacion,
		fechaModificacion, publico, tipo,estadoDocumento)
		VALUES(
		#{id},
		#{documento.nombre},
		#{documento.fechaCreacion},
		#{documento.fechaModificacion},
		#{documento.publico},
		1,
		#{documento.estado.codigo})
	</insert>

	<delete id="eliminarDocumento">
		DELETE FROM Elemento WHERE codigo =
		#{codigo}
	</delete>

	<update id="modificarDocumento">
		UPDATE Elemento set
		nombre = #{documento.nombre},
		fechaCreacion = #{documento.fechaCreacion},
		fechaModificacion = #{documento.fechaModificacion},
		publico = #{documento.publico},
		estadoDocumento = #{documento.estado.codigo}
		WHERE codigo = #{documento.codigo}
	</update>


	<resultMap id="documentoResultMap" type="es.fpdual.eadmin.eadmin.modelo.Documento">
		<constructor>
			<idArg column="codigo" javaType="Integer" />
			<arg column="nombre" javaType="String" />
			<arg column="fechaCreacion" javaType="Date" />
			<arg column="fechaModificacion" javaType="Date" />
			<arg column="estadoDocumento" javaType="es.fpdual.eadmin.eadmin.modelo.EstadoDocumento" />
			<arg column="publico" javaType="Boolean" />
		</constructor>
	</resultMap>

	<select id="seleccionarDocumento" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento"/> and codigo = #{codigo}
	</select>
	
	<select id="obtenerTodosLosDocumentos" resultMap="documentoResultMap">
		<include refid="baseSelectDocumento"/>
	</select>
	
	<sql id="baseSelectDocumento">
		SELECT codigo,nombre, fechaCreacion, fechaModificacion, publico, estadoDocumento 
		FROM Elemento 
		WHERE Tipo = 1
	</sql>
	
	<select id="maximoCodigo" resultType="Integer">
		<include refid="maxCodigo"></include>
	</select>
	
	<sql id="maxCodigo">
		SELECT ISNULL(MAX(codigo),0) + 1
		FROM Elemento
	</sql>

</mapper>